__pycache__/
*.pyc
*.pyo
.git/
.gitignore
node_modules/
venv/
mongo_data/
backend_server.log
firebase-debug.log
*.keras
*.pth
*.pkl
phobert_models/
models/
init-db/
data/
diagrams/
model/
mobile/
frontend/
